.page-section {
  scroll-margin-top: 8.15rem;
}

#home {
  scroll-margin-top: 8.15rem;
}

#main {
  overflow-x: clip;
  max-width: 100%;
}

@media (max-width: 1099px) {
  .page-section,
  #home {
    scroll-margin-top: 6.9rem;
  }
}
